

.line {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.title {
    display: block;
    min-width: 130px;
    padding: 15px 5px;
}

.list-emotion {
    display: flex;
    align-items: center;

    .icon-emotion {
        margin-right: 10px;

        svg {
            width: 27px;
            height: 27px;
            display: block;
        }
    }

    .quantity-emotion {
        margin-right: 30px;
    }
}

.icon-emotion {

    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    display: inline-block;
    
    &.heart {
        background-image: url("/emotions/heartEmotion.svg?v=1");
    }
    &.like {
        background-image: url("/emotions/likeEmotion.svg?v=1");
    }
    &.funny {
        background-image: url("/emotions/funnyEmotion.svg?v=1");

    }
    &.sad {
        background-image: url("/emotions/sadEmotion.svg?v=1");

    }
    &.angry {
        background-image: url("/emotions/angryEmotion.svg?v=1");

    }
    &.attack {
        background-image: url("/emotions/attackEmotion.svg?v=1");

    }
}