.wrapper {
    width: 100%;
    background-color: rgba(51, 34, 0, 0.05);

    border-bottom: inset 1px solid rgba(0, 0, 0, 0.03);
}

.container {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;

    display: flex;
    align-items: center;
}

// Content Left
.content-left {
    display: flex;
    align-items: center;

    .logo {
        font-size: 22px;
        font-weight: 600;
        
    }
}

// Content Right

.content-right {
    margin-left: auto;
    display: flex;
    align-items: center;

    .accout {
        display: flex;
        align-items: center;
    }
}

.accout {
    height: 50px;
    margin-left: 20px;

    .button {
        padding: 5px 8px;
        -webkit-user-select: none;

        &:hover {
            background-color: rgba(0, 0, 0, 0.03);
        }
    }
    .user {
        display: flex;
        align-items: center;

        padding: 0px 10px;
        cursor: pointer;
        
        .avatar {
            width: 34px;
            height: 34px;
            display: block;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    .form-user {
        position: relative;
    }
}

// Dropdown user

.dropdown-user {
    padding: 6px 8px;
    display: block;
    position: absolute;
    background-color: #ffff;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0 10px 15px 0 rgb(0 0 0 / 9%);
    min-width: 250px;
    z-index: 100;

    top: 44px;
    right: 0px;

    &::before {
        content: "";
        z-index: 100;
        top: 0px;
        right: 18px;
        width: 0px;
        height: 0px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid white;
        position: absolute;
        transform: translateY(-100%);
    }

    .dropdown-header {
        padding: 6px 8px 14px 8px;
        margin-bottom: 10px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.03);
        display: flex;
        align-items: center;
    }
    .dropdown-header-avatar {
        width: 40px;
        height: 40px;
        margin-right: 12px;
        font-size: 17px;
        font-weight: 800;
        display: block;
        object-fit: cover;
        border-radius: 50%;
    }
    .dropdown-item {
        padding: 2px;
        width: 100%;
        cursor: pointer;
    }
}

// Nav

.nav {
    position: relative;

    .nav-button {
        height: 50px;
        margin: 0px 2px;
        padding: 0px 15px;
        cursor: pointer;
        display: inline-block;
        -webkit-user-select: none;
        font-size: 16px;
        background-color: transparent;
        border: none;

        display: flex;
        align-items: center;

        svg {
            top: 0px;
            transform: rotate(180deg);
            transition: .1s ease;
            width: 12px;
            margin-left: 5px;
            display: block;
        }
    }
}

.dropdown {
    z-index: 100;
    display: none;
    padding: 5px 5px;
    background-color: #ffff;
    position: absolute;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0 10px 15px 0 rgb(0 0 0 / 9%);

    &::before {
        content: "";
        z-index: 100;
        top: 0px;
        left: 14px;
        width: 0px;
        height: 0px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #ffff;

        position: absolute;
        transform: translateY(-100%);
    }

    &.show {
        display: block;
    }
    &.category {
        width: 450px;
        .dropdown-item {
            width: 50%;
        }
    }
    &.rank {
        width: 130px;
        .dropdown-item {
            width: 100%;
        }
    }
}

.dropdown-content {

    .dropdown-item {
        float: left;
        padding: 8px 8px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.03);
        }
    }
}
