.wrapper {
    width: 100%;
    padding: 20px 0px;
    background-color: rgba(51, 34, 0, 0.05);

    border-bottom: inset 1px solid rgba(0, 0, 0, 0.03);
}

.container {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;

    display: flex;
    align-items: center;
}